//colors

$white: #fff;
$black: #373737;
$light-gray: #BABABA; // desc
$gray: #C4C4C4; // hr
$medium-gray: #CECECE; // цвет цифр на главной
$purple: #8B5DFA;

//font-size

$big: 24px;
$normal: 16px;
$regular: 14px;
$small: 12px;
