.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

/*fonts*/

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('~assets/fonts/Inter-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Inter-Regular.otf') format('truetype');
}@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/Inter-Medium.otf') format('truetype');
}@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('~assets/fonts/Inter-SemiBold.otf') format('truetype');
}@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Inter-Bold.otf') format('truetype');
}



